.grid {
    display: grid;
    grid-template-areas:
    ". . header header header header . ."
    ". . body body body body . ."
    ". . . synopsis synopsis . . ."
    ". . . . charTitle . . ."
    ". . . char1 char2 . . ."
    ". . . char3 char4 . . .";
}
.title {
    background-color: teal;
}
.mainHeader {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(213, 219, 194);
    grid-area: header;
    text-align: center;
}
.mainBody {
    font-family: 'Courier New', Courier, monospace;
    grid-area: body;
    background-color: rgb(255, 255, 255);
}
.Synopsis {
    margin-left: 20%;
    margin-right: 20%;
    grid-area: synopsis;
}
.charTitle {
    margin-left: 20%;
    margin-right: 20%;
    grid-area: characters;
}
.char1 {
    grid-area: char1;
}
.char2 {
    grid-area: char2;
}
.char3 {
    grid-area: char3;
}
.char4 {
    grid-area: char4;
}
